---
export interface Props {
	texto: string;
	iconoSrc: string;
	alt?: string;
	href?: string;
	target?: string;
}
const { texto, iconoSrc, alt = '', href = '', target = ''} = Astro.props;
---

<a href={href} target={target}
	class="flex bg-[#FF0000] hover:bg-[#B10000] transition-all duration-200 ease-in-out items-center rounded-full gap-4 py-3 px-10 text-2xl"
>
	<span class="text-white">{texto}</span>
	<img src={iconoSrc} alt={alt} />
</a>
