---
const { proyecto } = Astro.props;
const { Content } = await proyecto.render();
const {
	titulo,
	descripcion,
	imagen,
	fecha,
	cliente,
	rol,
	duracion,
	herramientas,
	imagenGaleria1, 
	imagenGaleria2, 
	imagenGaleria3, 
	imagenGaleria4,
	behance,
} = proyecto.data;
import Gallery from '../components/Galeria-imagenes.astro';

const imagenes = [
	{
		src: imagenGaleria1,
		width: 1200,
		height: 674,
		alt: titulo,
	},
	{
		src: imagenGaleria2,
		width: 1200,
		height: 674,
		alt: titulo,
	},

	{
		src: imagenGaleria3,
		width: 1200,
		height: 674,
		alt: titulo,
	},
	{
		src: imagenGaleria4,
		width: 1200,
		height: 674,
		alt: titulo,
	},

];
---

<section>
	<h1 class="text-[var(--rojo-principal)] text-7xl font-bold text-center mt-24">
		{titulo}
	</h1>
	<div class="max-w-[50rem] mx-auto mt-8 text-center">
		<p class="text-white text-lg">
			{descripcion}
		</p>
	</div>
	<div class="flex items-center justify-center mt-24">
		<img src={imagen} alt={titulo} />
	</div>
</section>

<section class="mt-32">
	<div class="flex max-w-[88rem] mx-auto space-x-24">

		<div id="descripcion-proyecto">
			<Content />
		</div>

		<div>
			<div
				class="border border-[var(--rojo-principal)] text p-8 min-w-96 rounded-lg"
			>
				<h4 class="text-[var(--rojo-principal)] text-2xl">
					Detalles del proyecto
				</h4>

				<p class="text-white text-lg mt-4">Fecha</p>
				<p class="text-[#666666]">{fecha}</p>
				<hr class="border-[#666666] my-4" />

				<p class="text-white">Cliente</p>
				<p class="text-[#666666]">{cliente}</p>
				<hr class="border-[#666666] my-4" />

				<p class="text-white">Rol</p>
				<p class="text-[#666666]">{rol}</p>
				<hr class="border-[#666666] my-4" />

				<p class="text-white">Duración</p>
				<p class="text-[#666666]">{duracion}</p>
				<hr class="border-[#666666] my-4" />

				<p class="text-white">Herramientas</p>
				<p class="text-[#666666]">{herramientas}</p>
			</div>
		</div>
	</div>
</section>

<section class="max-w-[88rem] mx-auto mt-16">
	<h2 class="text-[var(--rojo-principal)] text-4xl font-semibold mb-8">
		Galería
	</h2>
	<div>
		<Gallery images={imagenes} />
	</div>
</section>

<section>
	<div class="flex justify-center mt-28 gap-4">
		<a href="/proyectos"
			class="flex bg-[#000000] border border-[var(--rojo-principal)] hover:bg-[#1a1a1a] transition-all duration-200 ease-in-out items-center rounded-full gap-4 py-3 px-19 text-2xl"
		>
			<img src="/public/icons/flecha-izquierda.svg" alt="behance" />
			<span class="text-white"> Volver a Proyectos</span>
		</a>

		<a href={behance} target="_blank"
			class="flex bg-[#053EFF] hover:bg-[#00249F] transition-all duration-200 ease-in-out items-center rounded-full gap-4 py-3 px-10 text-2xl"
		>
			<span class="text-white"> Ver más de este proyecto</span>
			<img src="/public/icons/behance.svg" alt="behance" />
		</a>
	</div>
</section>
